TOKEN=DISCORD_TOKEN
CLIENT_ID=DISCORD_CLIENT_ID

GOOGLE_GENAI_API_KEY=API_KEY

# MongoDB
USE_PROD_DB=false # Si es true se usara la base de datos de produccion
DB_URI="Crear tu propia cadena de conexion de MongoDB aqui"
